.cp-color-grid {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 190px;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 5px;
}

.cp-color-bar-wrapper {
  margin-right: 10px;
  padding: 5px;
}

.cp-color-bar-color-none,
.cp-color-bar {
  background-color: #f2f0f0;
  border-radius: 50%;
  box-shadow: 2px 3px 5px grey;
  height: 50px;
  width: 50px;
}

.cp-color-bar-color-none-line {
  border-bottom: 2px solid #FF9800;
  height: 48px;
  position: relative;
  transform: translateY(-16px) translateX(16px) rotate(40deg);
  width: 48px;
}

.cp-color-bar-color-none {
  background-color: #e5e5e5;
}


.cp-color-slider {
  --bar-background-active: none;
  --bar-border-radius: 5px;
  --bar-height: 10px;
}

ion-range:disabled {
  --bar-background-active: none;
}
