<ion-header>
    <ion-toolbar>
        <ion-title>
            Ionic Blank
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="ion-padding" #button>
        The world is your oyster.
        <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">docs</a> will
            be your guide.</p>
    </div>

    <ion-button
            ionicColorPicker
            [position]="'bottom'"
            (colorPickerOpen)="onClick($event)"
            (colorPickerClose)="onClick($event)"
            (colorChange)="onClick($event)">
        Change Color using npm module
    </ion-button>

    <ion-button
            appPickColor
            [position]="'bottom'"
            (colorPickerOpen)="onClick($event)"
            (colorPickerClose)="onClick($event)"
            (colorChange)="onClick($event)">
        Change Color
    </ion-button>
</ion-content>
